@font-face {
  font-family: "Raleway";
  font-weight: 100;
  src: url('./Font/Raleway-Thin.ttf') format("TrueType");
}

@font-face {
  font-family: "Raleway";
  font-weight: 200;
  src: url('./Font/Raleway-ExtraLight.ttf') format("TrueType");
}

@font-face {
  font-family: "Raleway";
  font-weight: 300;
  src: url('./Font/Raleway-Light.ttf') format("TrueType");
}

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: url('./Font/Raleway-Regular.ttf') format("TrueType");
}

@font-face {
  font-family: "Raleway";
  font-weight: 500;
  src: url('./Font/Raleway-Medium.ttf') format("TrueType");
}

@font-face {
  font-family: "Raleway";
  font-weight: 600;
  src: url('./Font/Raleway-SemiBold.ttf') format("TrueType");
}

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  src: url('./Font/Raleway-Bold.ttf') format("TrueType");
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  src: url('./Font/Raleway-ExtraBold.ttf') format("TrueType");
}

@font-face {
  font-family: "Raleway";
  font-weight: 900;
  src: url('./Font/Raleway-Black.ttf') format("TrueType");
}

*{
  font-family: 'Raleway';
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Raleway';
  overflow-x: hidden;
}
.App{
  overflow-x: hidden;
}